# Data Preprocessing

## Loading and Normalizing CSV Data

### Relevant Imports

In [1]:
import geopandas as gpd
import pandas as pd

### VIIRS Data

#### Normalisation Method

We'll use Min-Max Normalisation for our datasets.
$$v' = \frac{v - min_A}{max_A - min_A}$$

#### Japan

##### Light Intensity Normalization

In [2]:
# Filepath for the combined CSV
input_csv = "datasets/inputs/Japan_light_intensity.csv"
output_normalized_csv = "datasets/inputs/Japan_light_intensity_normalized.csv"

# Load the extracted data
data = pd.read_csv(input_csv)

# Normalize the light intensity per year
data['normalized_light_intensity'] = data.groupby('year')['light_intensity'].transform(
    lambda x: (x - x.min()) / (x.max() - x.min())
)

# Save the normalized data
data.to_csv(output_normalized_csv, index=False)
print(f"Normalized VIIRS data saved to {output_normalized_csv}")

Normalized VIIRS data saved to datasets/inputs/Japan_light_intensity_normalized.csv

##### High-Radiance Zones Extraction

In [3]:
# Filepath for the normalized data
normalized_csv = "datasets/inputs/Japan_light_intensity_normalized.csv"
urban_output_csv = "datasets/processed/Japan_urban_light_intensity.csv"

# Load the normalized data
normalized_data = pd.read_csv(normalized_csv)

# Define the threshold for high-radiance zones
threshold = 0.3

# Extract high-radiance zones
urban_data = normalized_data[normalized_data['normalized_light_intensity'] >= threshold]

# Save the urban areas data
urban_data.to_csv(urban_output_csv, index=False)
print(f"Urban areas data saved to {urban_output_csv}")

Urban areas data saved to datasets/processed/Japan_urban_light_intensity.csv

In [4]:
urban_data.head()

,longitude,latitude,light_intensity,year,normalized_light_intensity
8986527,141.504169,40.537500,406.03780,2020,0.375151
8993981,141.504169,40.533333,546.21020,2020,0.504183
8993982,141.508336,40.533333,451.47418,2020,0.416976
17647643,139.704169,35.695833,394.33347,2020,0.364376
17655097,139.704169,35.691666,328.94742,2020,0.304187

In [5]:
urban_data.describe()

,longitude,latitude,light_intensity,year,normalized_light_intensity
count,42.000000,42.000000,42.000000,42.000000,42.000000
mean,138.304268,36.696428,371.166956,2020.714286,0.446923
std,2.721284,2.826703,189.212827,0.457230,0.174259
min,132.537503,34.220833,213.396600,2020.000000,0.300467
25%,135.505211,34.700000,252.405615,2020.000000,0.337757
50%,139.700003,35.660416,296.895095,2021.000000,0.378179
75%,140.940628,39.333333,403.111717,2021.000000,0.503279
max,141.508336,43.054166,1084.831300,2021.000000,1.000000

#### Philippines

##### Light Intensity Normalization

In [6]:
# Filepath for the combined CSV
input_csv = "datasets/inputs/Philippines_light_intensity.csv"
output_normalized_csv = "datasets/inputs/Philippines_light_intensity_normalized.csv"

# Load the extracted data
data = pd.read_csv(input_csv)

# Normalize the light intensity per year
data['normalized_light_intensity'] = data.groupby('year')['light_intensity'].transform(
    lambda x: (x - x.min()) / (x.max() - x.min())
)

# Save the normalized data
data.to_csv(output_normalized_csv, index=False)
print(f"Normalized VIIRS data saved to {output_normalized_csv}")

Normalized VIIRS data saved to datasets/inputs/Philippines_light_intensity_normalized.csv

##### High-Radiance Zones Extraction

In [7]:
# Filepath for the normalized data
normalized_csv = "datasets/inputs/Philippines_light_intensity_normalized.csv"
urban_output_csv = "datasets/processed/Philippines_urban_light_intensity.csv"

# Load the normalized data
normalized_data = pd.read_csv(normalized_csv)

# Define the threshold for high-radiance zones
threshold = 0.3

# Extract high-radiance zones
urban_data = normalized_data[normalized_data['normalized_light_intensity'] >= threshold]

# Save the urban areas data
urban_data.to_csv(urban_output_csv, index=False)
print(f"Urban areas data saved to {urban_output_csv}")

Urban areas data saved to datasets/processed/Philippines_urban_light_intensity.csv

In [8]:
urban_data.head()

,longitude,latitude,light_intensity,year,normalized_light_intensity
3549238,120.100002,16.125000,59.357586,2020,0.358053
4215121,120.550002,15.187500,50.220715,2020,0.302938
4218079,120.545836,15.183333,64.022570,2020,0.386193
4218080,120.550002,15.183333,73.451850,2020,0.443072
4221038,120.545836,15.179166,60.745200,2020,0.366423

In [9]:
urban_data.describe()

,longitude,latitude,light_intensity,year,normalized_light_intensity
count,363.000000,363.000000,363.000000,363.000000,363.000000
mean,121.227149,14.161317,69.518359,2020.418733,0.408127
std,0.839943,1.278727,21.084292,0.494032,0.121638
min,120.100002,6.904166,49.735570,2020.000000,0.300012
25%,120.983336,14.516666,56.265428,2020.000000,0.329170
50%,121.008336,14.541666,61.740704,2020.000000,0.365759
75%,121.054169,14.579166,73.849395,2021.000000,0.443756
max,125.616669,16.125000,178.714340,2021.000000,1.000000

#### Taiwan

##### Light Intensity Normalization

In [10]:
# Filepath for the combined CSV
input_csv = "datasets/inputs/Taiwan_light_intensity.csv"
output_normalized_csv = "datasets/inputs/Taiwan_light_intensity_normalized.csv"

# Load the extracted data
data = pd.read_csv(input_csv)

# Normalize the light intensity per year
data['normalized_light_intensity'] = data.groupby('year')['light_intensity'].transform(
    lambda x: (x - x.min()) / (x.max() - x.min())
)

# Save the normalized data
data.to_csv(output_normalized_csv, index=False)
print(f"Normalized VIIRS data saved to {output_normalized_csv}")

Normalized VIIRS data saved to datasets/inputs/Taiwan_light_intensity_normalized.csv

##### High-Radiance Zones Extraction

In [11]:
# Filepath for the normalized data
normalized_csv = "datasets/inputs/Taiwan_light_intensity_normalized.csv"
urban_output_csv = "datasets/processed/Taiwan_urban_light_intensity.csv"

# Load the normalized data
normalized_data = pd.read_csv(normalized_csv)

# Define the threshold for high-radiance zones
threshold = 0.3

# Extract high-radiance zones
urban_data = normalized_data[normalized_data['normalized_light_intensity'] >= threshold]

# Save the urban areas data
urban_data.to_csv(urban_output_csv, index=False)
print(f"Urban areas data saved to {urban_output_csv}")

Urban areas data saved to datasets/processed/Taiwan_urban_light_intensity.csv

In [12]:
urban_data.head()

,longitude,latitude,light_intensity,year,normalized_light_intensity
250168,121.741669,25.129166,76.657364,2020,0.302927
256488,121.241669,25.100000,93.183750,2020,0.368234
257407,121.237502,25.095833,111.685740,2020,0.441349
257408,121.241669,25.095833,107.226410,2020,0.423727
258329,121.245836,25.091666,80.696160,2020,0.318887

In [13]:
urban_data.describe()

,longitude,latitude,light_intensity,year,normalized_light_intensity
count,512.000000,512.000000,512.000000,512.000000,512.000000
mean,120.608222,23.524544,92.278995,2020.556641,0.361041
std,0.501196,1.002683,21.868650,0.497267,0.085475
min,120.179169,22.491666,75.949110,2020.000000,0.300001
25%,120.225002,22.637500,80.923086,2020.000000,0.315534
50%,120.337502,22.995833,85.748430,2021.000000,0.334493
75%,121.220836,24.958333,96.128708,2021.000000,0.376616
max,121.750002,25.150000,257.609770,2021.000000,1.000000

#### Combining

In [14]:
# Filepaths for urban light intensity CSVs
urban_csvs = [
    "datasets/processed/Japan_urban_light_intensity.csv",
    "datasets/processed/Philippines_urban_light_intensity.csv",
    "datasets/processed/Taiwan_urban_light_intensity.csv"
]

# Output filepath for the combined CSV
combined_csv = "datasets/processed/combined_urban_light_intensity.csv"

# Initialize an empty list to store DataFrames
urban_dfs = []

# Loop through each file and load data
for csv_path in urban_csvs:
    # Extract the country name from the file path
    country_name = csv_path.split("/")[-1].split("_")[0]

    # Load the CSV
    df = pd.read_csv(csv_path)

    # Add a column for the country name
    df['country'] = country_name

    # Append the DataFrame to the list
    urban_dfs.append(df)

# Concatenate all the DataFrames
combined_df = pd.concat(urban_dfs, ignore_index=True)

# Save to a single CSV
combined_df.to_csv(combined_csv, index=False)
print(f"Combined urban light intensity data saved to {combined_csv}")

Combined urban light intensity data saved to datasets/processed/combined_urban_light_intensity.csv

#### Calculating Yearly Changes

In [63]:
# File paths
urban_light_csv = "datasets/processed/combined_urban_light_intensity.csv"
output_yearly_changes_csv = "datasets/processed/yearly_radiance_changes.csv"

# Load VIIRS data as GeoDataFrame
urban_light_data = pd.read_csv(urban_light_csv)
urban_light_gdf = gpd.GeoDataFrame(
    urban_light_data,
    geometry=gpd.points_from_xy(urban_light_data['longitude'], urban_light_data['latitude']),
    crs="EPSG:4326"
)

# Sort data by location and year for grouping
urban_light_gdf.sort_values(by=['latitude', 'longitude', 'year'], inplace=True)

# Compute yearly change in radiance
urban_light_gdf['radiance_change'] = urban_light_gdf.groupby(['latitude', 'longitude'])['light_intensity'].diff()
urban_light_gdf.dropna(axis=0, inplace=True)
urban_light_gdf.drop(['year'], axis=1, inplace=True) # It's redundant now since it will just be 2021

# Save the processed dataset
urban_light_gdf.to_csv(output_yearly_changes_csv, index=False)
print(f"Yearly radiance changes saved to {output_yearly_changes_csv}")

Yearly radiance changes saved to datasets/processed/yearly_radiance_changes.csv

In [64]:
urban_light_gdf.head()

,longitude,latitude,light_intensity,normalized_light_intensity,country,geometry,radiance_change
402,123.900002,10.291666,54.495144,0.310714,Philippines,POINT (123.9 10.29167),3.492114
400,123.920836,10.308333,81.174370,0.458756,Philippines,POINT (123.92084 10.30833),3.880390
401,124.016669,10.308333,57.740760,0.328724,Philippines,POINT (124.01667 10.30833),-3.124184
398,123.920836,10.312499,63.946327,0.363158,Philippines,POINT (123.92084 10.3125),3.119861
399,123.925002,10.312499,60.040497,0.341485,Philippines,POINT (123.925 10.3125),-6.938759

### Ookla Data

#### Separate Datasets by Year

In [35]:
# File paths
ookla_csv = "datasets/inputs/Annual_ookla_data.csv"
urban_light_csv = "datasets/processed/combined_urban_light_intensity.csv"
output_cleaned_csv = "datasets/processed/cleaned_urban_internet_data.csv"

# Load Ookla data as GeoDataFrame
ookla_data = pd.read_csv(ookla_csv)
ookla_gdf = gpd.GeoDataFrame(
    ookla_data,
    geometry=gpd.GeoSeries.from_wkt(ookla_data['geometry']),
    crs="EPSG:4326"
) # type: ignore

# Load urban light intensity data as GeoDataFrame
urban_light_data = pd.read_csv(urban_light_csv)
urban_light_gdf = gpd.GeoDataFrame(
    urban_light_data,
    geometry=gpd.points_from_xy(urban_light_data['longitude'], urban_light_data['latitude']),
    crs="EPSG:4326"
) # type: ignore

ookla_gdf.rename(columns={'year': 'year_left'}, inplace=True)
urban_light_gdf.rename(columns={'year': 'year_right'}, inplace=True)
# Extract unique years from both datasets
ookla_years = ookla_gdf['year_left'].unique()
urban_light_years = urban_light_gdf['year_right'].unique()

# Determine common years between the datasets
common_years = list(set(ookla_years).intersection(set(urban_light_years)))
print(f"Common years between datasets: {common_years}")

Common years between datasets: [np.int64(2020), np.int64(2021)]

#### Performing Spatial Join for Each Year

In [37]:
# Initialize an empty list to hold the joined data for each year
yearly_spatial_join_results = []

for year in common_years:
    # Filter data for the specific year
    ookla_year_data = ookla_gdf[ookla_gdf['year_left'] == year]
    urban_light_year_data = urban_light_gdf[urban_light_gdf['year_right'] == year]
    
    # Perform spatial join
    spatial_joined = gpd.sjoin(ookla_year_data, urban_light_year_data, how="inner", predicate="intersects")
    
    # Clean up the joined data
    spatial_joined['year'] = year  # Add a unified year column
    spatial_joined = spatial_joined.drop(['year_left', 'year_right', 'index_right'], axis=1, errors='ignore')
    
    # Append the result to the list
    yearly_spatial_join_results.append(spatial_joined)

# Combine all yearly results into a single GeoDataFrame
combined_data = gpd.GeoDataFrame(pd.concat(yearly_spatial_join_results, ignore_index=True), crs="EPSG:4326")

#### Saving the Combined Dataset

In [39]:
# Filter only relevant columns for analysis
filtered_columns = [
    'country_left', 'normalized_light_intensity', 'avg_d_kbps', 'avg_u_kbps',
    'avg_lat_ms', 'tests', 'year', 'geometry'
]
cleaned_data = combined_data[filtered_columns]

# Rename columns for consistency
cleaned_data.rename(columns={'country_left': 'country'}, inplace=True)

# Save to CSV
cleaned_data.to_csv(output_cleaned_csv, index=False)
print(f"Cleaned dataset saved to {output_cleaned_csv}")

Cleaned dataset saved to datasets/processed/cleaned_urban_internet_data.csv

C:\Users\bodbo\AppData\Local\Temp\ipykernel_17296\3914378360.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data.rename(columns={'country_left': 'country'}, inplace=True)

In [40]:
cleaned_data.head()

,country,normalized_light_intensity,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,year,geometry
0,Philippines,0.358053,49756.00,53303.333333,11.666667,2.333333,2020,"POLYGON ((120.09705 16.13026, 120.10254 16.130..."
1,Taiwan,0.300128,87722.50,39520.000000,10.250000,185.500000,2020,"POLYGON ((120.17395 22.99379, 120.17944 22.993..."
2,Taiwan,0.322265,75952.50,34794.500000,11.250000,176.750000,2020,"POLYGON ((120.17395 22.99885, 120.17944 22.998..."
3,Taiwan,0.303183,76479.75,35316.250000,8.250000,261.500000,2020,"POLYGON ((120.17395 23.00391, 120.17944 23.003..."
4,Taiwan,0.306424,77667.00,36724.250000,16.250000,167.750000,2020,"POLYGON ((120.17944 22.99379, 120.18494 22.993..."

In [41]:
cleaned_data.describe()

,normalized_light_intensity,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,year
count,833.000000,833.000000,833.000000,833.000000,833.000000,833.000000
mean,0.381519,66592.848339,41130.987895,17.231192,456.365546,2020.512605
std,0.106375,40185.362421,27051.784531,40.365901,728.734995,0.500141
min,0.300001,1147.000000,260.500000,2.000000,1.000000,2020.000000
25%,0.319382,34018.000000,25852.000000,8.500000,36.000000,2020.000000
50%,0.346684,62698.500000,37531.250000,10.500000,199.750000,2021.000000
75%,0.394630,91373.250000,49142.750000,19.500000,483.250000,2021.000000
max,1.000000,322379.000000,299586.000000,804.000000,9023.500000,2021.000000

#### Removing Outliers

In [77]:
# File paths
cleaned_ookla_csv = "datasets/processed/cleaned_urban_internet_data.csv"
output_cleaned_no_outliers_csv = "datasets/processed/cleaned_urban_internet_data_no_outliers.csv"
output_country_avg_csv = "datasets/processed/average_urban_internet_data.csv"

# Load the cleaned Ookla dataset
ookla_data = pd.read_csv(cleaned_ookla_csv)

# Function to remove outliers using IQR
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)  # First quartile (25th percentile)
    Q3 = df[column].quantile(0.75)  # Third quartile (75th percentile)
    IQR = Q3 - Q1                  # Interquartile range
    lower_bound = Q1 - 1.5 * IQR   # Lower bound
    upper_bound = Q3 + 1.5 * IQR   # Upper bound
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

# Remove outliers for relevant columns
ookla_data_no_outliers = ookla_data.copy()  # Work on a copy of the dataset
columns_to_check = ['avg_d_kbps', 'avg_u_kbps', 'normalized_light_intensity']

for column in columns_to_check:
    ookla_data_no_outliers = remove_outliers(ookla_data_no_outliers, column)

# Save the cleaned dataset without outliers (retain all columns and rows)
ookla_data_no_outliers.to_csv(output_cleaned_no_outliers_csv, index=False)
print(f"Cleaned dataset without outliers saved to {output_cleaned_no_outliers_csv}")

# Option to create country-level averages over all years
country_avg_data = ookla_data_no_outliers.groupby(['country', 'geometry'], as_index=False).agg({
    'avg_d_kbps': 'mean',   # Average download speed
    'avg_u_kbps': 'mean',   # Average upload speed
    'avg_lat_ms': 'mean',   # Average latency
    'tests': 'mean',        # Sum of tests
    'normalized_light_intensity': 'mean'  # Average light intensity
})

country_avg_data = country_avg_data[[
    'country', 'normalized_light_intensity', 'avg_d_kbps', 'avg_u_kbps', 'avg_lat_ms', 'tests', 'geometry'
]]
# Save the country-level averages (without the year column)
country_avg_data.to_csv(output_country_avg_csv, index=False)
print(f"Country-level average data (across all years) saved to {output_country_avg_csv}")

Cleaned dataset without outliers saved to datasets/processed/cleaned_urban_internet_data_no_outliers.csv
Country-level average data (across all years) saved to datasets/processed/average_urban_internet_data.csv

In [79]:
country_avg_data

,country,normalized_light_intensity,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,geometry
0,Japan,0.346066,82478.00,75749.00,22.50,80.75,"POLYGON ((135.499877929688 34.6693585452454, 1..."
1,Japan,0.375913,56597.75,63021.75,21.25,74.75,"POLYGON ((135.499877929688 34.6738762658827, 1..."
2,Japan,0.304514,81785.75,75805.25,20.25,78.25,"POLYGON ((135.499877929688 34.7009774147201, 1..."
3,Japan,0.301471,96628.25,68076.75,17.75,68.25,"POLYGON ((135.50537109375 34.6738762658827, 13..."
4,Japan,0.332073,5348.00,544.00,52.00,5.00,"POLYGON ((136.862182617188 35.0209997011147, 1..."
...,...,...,...,...,...,...,...
359,Taiwan,0.306496,99496.75,47129.50,6.75,205.25,"POLYGON ((121.580200195312 25.0607212523142, 1..."
360,Taiwan,0.309189,110963.50,55148.00,5.25,203.75,"POLYGON ((121.585693359375 25.0656971855359, 1..."
361,Taiwan,0.304286,48283.25,32217.00,9.00,44.75,"POLYGON ((121.607666015625 23.9762146266383, 1..."
362,Taiwan,0.302927,58912.00,27370.25,9.00,217.75,"POLYGON ((121.739501953125 25.130365915065, 12..."
363,Taiwan,0.324514,97357.25,26499.50,27.50,11.50,"POLYGON ((121.744995117188 25.1502571041147, 1..."

#### Quarterly Internet Performance Data into Annual Averages (for metrics)
The detailed one done for the VIIRS integration is in the Extraction.ipynb file.

In [80]:
# File paths
cleaned_ookla_csv = "datasets/processed/cleaned_urban_internet_data_no_outliers.csv"
output_country_annual_csv = "datasets/processed/country_annual_urban_internet_metrics.csv"

# Load the cleaned Ookla dataset
ookla_data = pd.read_csv(cleaned_ookla_csv)

# Group by country and year, and calculate annual averages
country_annual_data = ookla_data.groupby(
    ['country', 'year'], as_index=False
).agg({
    'avg_d_kbps': 'mean',   # Average download speed
    'avg_u_kbps': 'mean',   # Average upload speed
    'avg_lat_ms': 'mean',   # Average latency
    'tests': 'sum',         # Total tests (sum)
    'normalized_light_intensity': 'mean'  # Average light intensity for alignment
})

# Save the country-level annual dataset
country_annual_data.to_csv(output_country_annual_csv, index=False)
print(f"Country-level annual internet performance data saved to {output_country_annual_csv}")

Country-level annual internet performance data saved to datasets/processed/country_annual_urban_internet_metrics.csv

In [81]:
country_annual_data

,country,year,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,normalized_light_intensity
0,Japan,2020,31531.500000,34688.812500,35.500000,442.750000,0.333177
1,Japan,2021,76297.525000,71266.250000,24.325000,777.500000,0.354072
2,Philippines,2020,29644.879412,25143.686765,31.832353,150370.833333,0.360893
3,Philippines,2021,52977.622845,45618.258621,14.753592,99262.083333,0.360132
4,Taiwan,2020,67965.697393,36053.131750,10.433892,33832.416667,0.346226
5,Taiwan,2021,92433.679461,40942.882780,9.875519,70984.583333,0.345093